<nav class="menu">
   <ul>

    <li>
      <a href="#">Seguridad</a>
      <ul class="submenu">
       <li><a href="/usuario">Usuario</a></li>
       <li><a href="/modulo">Módulo</a></li>
       <li><a href="/perfil">Perfil</a></li>
       <li><a href="/permisos">Permisos_Perfil</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Principal 1</a>
      <ul class="submenu">
        <li><a href="/Principal_1.1">Principal 1.1</a></li>
        <li><a href="/Principal_1.2">Principal 1.2</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Principal 2</a>
      <ul class="submenu">
        <li><a href="/Principal_2.1">Principal 2.1</a></li> 
        <li><a href="/Principal_2.2">Principal 2.2</a></li>
      </ul>
    </li>

  </ul>
</nav>