<nav class="menu">
  <ul>

    <li>
      <a href="#">Seguridad</a>
      <ul class="submenu">
        <li data-menu="Usuario"><a href="/usuario">Usuario</a></li>
        <li data-menu="Modulo"><a href="/modulo">Módulo</a></li>
        <li data-menu="Perfil"><a href="/perfil">Perfil</a></li>
        <li data-menu="Permisos"><a href="/permisos">Permisos</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Principal 1</a>
      <ul class="submenu">
        <li data-menu="Principal_1_1"><a href="/Principal_1_1">Principal 1.1</a></li>
        <li data-menu="Principal_1_2"><a href="/Principal_1_2">Principal 1.2</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Principal 2</a>
      <ul class="submenu">
        <li data-menu="Principal_2_1"><a href="/Principal_2_1">Principal 2.1</a></li>
        <li data-menu="Principal_2_2"><a href="/Principal_2_2">Principal 2.2</a></li>
      </ul>
    </li>

    <li class="spacer"></li>

    <li class="user-profile-item">
      <div id="user-avatar" class="avatar-circle">
        <% if (locals.user && user.FotoUrl) { %>
          <img src="<%= user.FotoUrl %>" id="avatar-img" alt="User">
        <% } else { %>
          <img src="/img/default-avatar.png" id="avatar-img" alt="User">
        <% } %>
      </div>
    </li>

  </ul>
</nav>